@using System.Web.Optimization
@using ALTSecurity.Web.Models
@using ALTSecurity.Web.Utility
@{
    LayoutMode mode = ViewBag.LayoutMode == null ? LayoutMode.nav : ViewBag.LayoutMode;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? Resources.Global.systemName : ViewBag.Title + " - " + Resources.Global.systemName)</title>

    @Styles.Render("~/Content/fontawesome-free/css/all.min.css")
    @Styles.Render("~/bundles/css/template")
    @Styles.Render("~/content/datatables/media/css/datatables-bs4")
    @Styles.Render("~/bundles/css/plugins")

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @RenderSection("styles", false)



    @Scripts.Render("~/Scripts/jquery-3.0.0.min.js")
    @Scripts.Render("~/Scripts/jquery-easing/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/sb-admin-2.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/datatables-bs4")
    @*<script src="@Url.Action("GetResources","Service")"></script>*@
    @Scripts.Render("~/Scripts/App/app.js")


</head>
<body @(String.Format(@"{0}", User.Identity.IsAuthenticated && mode == LayoutMode.nav ? "id=page-top" : "class=bg-gradient-primary"))>
    @if (User.Identity.IsAuthenticated && mode == LayoutMode.nav)
    {
        <div id="wrapper">
            @Html.Partial("_MainMenu")

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Пошук" aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link" href="#" id="userName" role="button">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <button class="btn btn-primary" onclick="location.href='@Url.Action("Logout","Account")'" style="margin-top:15px;" type="button">
                                    <i class="fas fa-sign-out-alt fa-sm"></i>
                                </button>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-gray">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>@Resources.Global.systemName -  @DateTime.Now.Year</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    }
    else
    {
        @RenderBody()
    }

    @Html.JsMinify(@<text>
        <script>
            $(document).ready(function () {
                app.init();
            });
        </script>
    </text>)
    @Scripts.Render("~/Scripts/sb-admin-2.min.js")
    @RenderSection("scripts", false)

</body>

</html>
